@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
  --color1: #5256ad;
  --color2: #5256ad;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color:#fff;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(120deg, var(--color1),var(--color2));
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
  transition: all 1s ease-out;  
}

.container {
  max-width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.title {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px 0 50px 0;
  height: auto;
  width: 80%;
  max-width: 800px;

}
.title h1 {
  font-size: 3rem;
}
.title .icon {
  font-size: 3rem;
  margin: 11px 0 0 15px;
}
.drag-area{
  border: 2px dashed #fff;
  height: auto;
  width: 80%;
  max-width: 800px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area .icon{
  font-size: 100px;
  color: #fff;

}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  padding: 10px 25px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  border: none;
  outline: none;
  background: #fff;
  color: #5256ad;
  border-radius: 5px;
  cursor: pointer;
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.loading {
  margin: 20px 0 0 0;
  display: none;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.results {
  height: auto;
  width: 80%;
  max-width: 800px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* justify-content: right; */
}
.flex-r {
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
}
.flex-r span {
  margin: 27px 10px 0 0;
}
.label-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.confidence-result {
  margin: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 585px) { 
  .title h1 {
    font-size: 2rem;
  }
  .title .icon {
    font-size: 2rem;
  }
  .drag-area header {
    font-size: 20px;
  }
  .drag-area span{
    font-size: 18px;
  }
}
@media screen and (max-width: 395px) {
  .title h1 {
    font-size: 1.8rem;
  }
  .title .icon {
    font-size: 2rem;
    margin: 11px 0 0 10px;

  }
}
@media screen and (max-width: 355px) {
  .title h1 {
    font-size: 1.5rem;
    margin: 8px 0 0 0;
  }
  .title .icon {
    font-size: 1.5rem;
    margin: 11px 0 0 10px;

  }
}
@media screen and (max-width: 336px) {
  .drag-area header {
    font-size: 17px;
  }
  .drag-area span{
    font-size: 15px;
  }
}
@media screen and (max-width: 294px) {
  .drag-area header {
    font-size: 15px;
  }
  .drag-area span{
    font-size: 13px;
  }
  .title h1 {
    font-size: 1.2rem;
    margin: 8px 0 0 0;
  }
  .title .icon {
    font-size: 1.2rem;
    margin: 11px 0 0 10px;

  }
}
@media screen and (max-width: 238px) {
  .title h1 {
    font-size: 1rem;
    margin: 8px 0 0 0;
  }
  .title .icon {
    font-size: 1.2rem;
    margin: 11px 0 0 5px;

  }
}

